body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

input {
  padding: 10px;
  font-size: 16px;
  margin: 5px;
}

button {
  padding: 10px;
  cursor: pointer;
}

ul {
  max-width: 500px;
  margin: auto;
  text-align: left;
}
